<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  
    <style>
	h1{
	vertical-align:top;
	}
	
	  #container{
	  display:flex;
	  }
	  
      </style>
    <title>mb714685</title>
  </head>
  <body>
    
  
  </div>
</nav>
<div>
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <img src = "https://markbahorprofilebucket.s3.amazonaws.com/logos.jpg
    " width = "50" height = "50">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
	</nav>
	<div id="container">
	<img src = "https://markbahorprofilebucket.s3.amazonaws.com/mbprofile.jpg" width = "300" height = "300">
	
	<div>
	<h1>
	Mark Bahor
	</h1>
	<p>
Hi! I am a Computer Science major attendting the university at Albany
          I enjoy video games, basketball and spending time with friends.
	</p>
	</div>
    </div>

    
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
  </body>
</html>
